#app {
    width: 100%;
    height: 100%;
    .login {
        width: 100%;
        height: 100%;
        padding-top: 100px;
        .logo {
            width: 100%;
            padding: 50px 0;
            img {
                width: 80px;
                margin: 0 auto;
                display: block;
            }
        }
        .toView {
            width: 100%;
            padding: 0 50px;
            .telLoginBtn,
            .registryBtn {
                width: 100%;
                height: 44px;
                border: 1px solid #D44037;
                border-radius: 22px;
                margin-bottom: 20px;
                text-align: center;
                line-height: 44px;
                color: #D44037;
                font-size: 18px;
            }
            .visitorLogin {
                color: #BCBBBC;
                font-size: 14px;
                text-align: center;
                span {
                    display: inline-block;
                    border-bottom: 1px solid #BCBBBC;
                }
            }
        }
    }
    .loginPage,
    .registryPage {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        .header {
            width: 100%;
            height: 50px;
            line-height: 50px;
            text-align: center;
            position: relative;
            color: #fff;
            font-size: 16px;
            background: #333;
            .back {
                position: absolute;
                width: 50px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                font-size: 30px;
                font-family: "楷体";
                color: #fff;
                left: 0;
                top: 0;
            }
        }
        .inputRegCont {
            width: 100%;
            padding: 0 15px;
            >div {
                width: 100%;
                height: 46px;
                line-height: 46px;
                display: flex;
                border-bottom: 1px solid #ccc;
                .icon {
                    width: 46px;
                    height: 46px;
                    &.icon-tel {
                        background: url('../images/iphone.png') no-repeat 50% 50%;
                    }
                    &.icon-suo {
                        background: url('../images/suo.png') no-repeat 50% 50%;
                    }
                }
                input {
                    flex: 1;
                    height: 100%;
                    border: 0;
                    outline: none;
                    &::-webkit-input-placeholder {
                        color: #999;
                        font-size: 14px;
                    }
                }
            }
            .submitBtn {
                width: 100%;
                height: 46px;
                margin: 10px 0;
                button {
                    outline: none;
                    border: 0;
                    width: 100%;
                    height: 100%;
                    background: #333;
                    color: #555;
                    border-radius: 23px;
                }
            }
            .registryPwd {
                color: #BCBBBC;
                font-size: 14px;
                text-align: center;
                span {
                    display: inline-block;
                    border-bottom: 1px solid #BCBBBC;
                }
            }
        }
    }
    .indexPage {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        .header {
            width: 100%;
            height: 50px;
            background: #000;
            color: #fff;
            text-align: center;
            line-height: 50px;
        }
        .footer {
            width: 100%;
            height: 50px;
            background: #E8F0F3;
            display: flex;
            a {
                flex: 1;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #777;
                &.router-link-active {
                    color: #333;
                }
            }
        }
        .main {
            flex: 1;
            width: 100%;
            overflow: auto;
            .found {
                width: 100%;
                height: 100%;
                position: relative;
                .tab {
                    width: 100%;
                    height: 46px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 5px 0;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 99;
                    a {
                        color: #999;
                        padding: 0 20px;
                        position: relative;
                        height: 100%;
                        line-height: 36px;
                        &.router-link-active {
                            color: #fff;
                            &::after {
                                content: '';
                                width: 32px;
                                height: 2px;
                                background: #fff;
                                position: absolute;
                                left: 50%;
                                bottom: 0;
                                border-radius: 1px;
                                transform: translateX(-50%);
                            }
                        }
                    }
                }
                .foundSwiper {
                    width: 100%;
                    height: 170px;
                    background: #333;
                    position: relative;
                    .banner {
                        position: absolute;
                        width: 100%;
                        padding: 0 10px;
                        left: 0;
                        top: 46px;
                        box-sizing: border-box;
                        img {
                            border-radius: 5px;
                        }
                    }
                }
                .nav {
                    width: 100%;
                    padding-top: 50px;
                    padding-bottom: 20px;
                    display: flex;
                    border-bottom: 1px solid #ccc;
                    a {
                        flex: 1;
                        height: 80px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;
                        font-size: 16px;
                        .icon {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            background: #333;
                            font-size: 24px;
                            color: #999;
                            text-align: center;
                            line-height: 50px;
                        }
                        span {
                            width: 100%;
                            height: 30px;
                            line-height: 30px;
                            text-align: center;
                        }
                    }
                }
                .recommendPage {
                    width: 100%;
                    height: 100%;
                    .recommendCont {
                        width: 100%;
                        .recommendTitle {
                            width: 100%;
                            height: 50px;
                            line-height: 50px;
                            padding: 0 10px;
                            font-size: 20px;
                            span {
                                font-family: "楷体";
                                margin-left: 10px;
                                font-weight: 800;
                            }
                        }
                        .recommendList {
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            li {
                                width: 33.33%;
                                padding: 5px;
                                dl {
                                    width: 100%;
                                    dt {
                                        img {
                                            width: 100%;
                                            border-radius: 5px;
                                        }
                                    }
                                    dd {
                                        width: 100%;
                                        display: -webkit-box;
                                        -webkit-box-orient: vertical;
                                        word-break: break-all;
                                        -webkit-line-clamp: 2;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                    }
                                }
                            }
                        }
                    }
                }
                .stationPage {
                    width: 100%;
                    height: 100%;
                    .stationTitle {
                        width: 100%;
                        height: 50px;
                        line-height: 50px;
                        padding: 0 10px;
                        font-size: 20px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        span {
                            font-size: 14px;
                            color: #999;
                        }
                    }
                    .stationList {
                        width: 100%;
                        li {
                            width: 100%;
                            padding: 10px;
                            border-bottom: 1px solid #ccc;
                            dl {
                                width: 100%;
                                display: flex;
                                dt {
                                    img {
                                        width: 114px;
                                        display: block;
                                        border-radius: 5px;
                                    }
                                }
                                dd {
                                    flex: 1;
                                    padding: 0 15px;
                                }
                            }
                        }
                    }
                }
            }
            .account {
                width: 100%;
                height: 100%;
                .myLogin {
                    width: 100%;
                    .titleMsg {
                        width: 100%;
                        height: 140px;
                        padding: 15px 10px;
                        p {
                            text-align: center;
                            font-size: 16px;
                            color: #555;
                        }
                        button {
                            width: 100%;
                            height: 44px;
                            border-radius: 22px;
                            background: none;
                            border: 1px solid #999;
                            color: #555;
                            outline: none;
                            margin: 10px 0;
                            font-size: 16px;
                        }
                    }
                }
                .accountMsg {
                    width: 100%;
                    .myNews {
                        width: 100%;
                        border-top: 10px solid #eee;
                        border-bottom: 10px solid #eee;
                    }
                    .accountShop,
                    .accountSet,
                    .accountShare {
                        width: 100%;
                        border-bottom: 10px solid #eee;
                    }
                }
            }
        }
    }
    .vipPage {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        .vipHeader {
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;
            border-bottom: 1px solid #eee;
            .back {
                widows: 50px;
                height: 50px;
                line-height: 50px;
            }
        }
        .vipCont {
            width: 100%;
            flex: 1;
            overflow-y: auto;
            overflow-x: hidden;
            .vipCardList {
                display: flex;
                overflow-x: auto;
                .vipCardTab {
                    width: 340px;
                    height: 220px;
                    flex-shrink: 0;
                    padding: 0 16px;
                    .cardCont {
                        width: 100%;
                        height: 100%;
                        padding: 14px 0;
                        .cardMain {
                            width: 100%;
                            height: 100%;
                            border-radius: 10px;
                            background: url(https://p1.music.126.net/-BmD9VrnJ3AYGL-AUlFhDw==/109951163524411405.jpg?imageView=&interlace=1&quality=100&thumbnail=670x0) no-repeat -36px;
                            background-size: cover;
                            display: flex;
                            padding: 30px 20px;
                            flex-direction: column;
                            .primeTitle {
                                img {
                                    width: 67px;
                                }
                            }
                            .primeDesc {
                                font-size: 12px;
                                line-height: 2;
                                color: #e5cac5;
                            }
                            .actionBtns {
                                flex: 1;
                                display: flex;
                                align-items: flex-end;
                                padding-bottom: 10px;
                                button {
                                    height: 36px;
                                    padding: 0 20px;
                                    border-radius: 18px;
                                    background: #e5cac5;
                                    outline: none;
                                    font-weight: 800;
                                    line-height: 36px;
                                    border: 0;
                                }
                            }
                        }
                    }
                    &.red {
                        .cardCont {
                            .cardMain {
                                background: url(https://p1.music.126.net/aWQGEt66RVRrPT6rU5O3JQ==/109951163524419514.jpg?imageView=&interlace=1&quality=100&thumbnail=670x0) no-repeat -36px;
                                background-size: cover;
                            }
                        }
                    }
                }
            }
        }
    }
}