@charset "UTF-8";
#app {
  width: 100%;
  height: 100%;
}

#app .login {
  width: 100%;
  height: 100%;
  padding-top: 100px;
}

#app .login .logo {
  width: 100%;
  padding: 50px 0;
}

#app .login .logo img {
  width: 80px;
  margin: 0 auto;
  display: block;
}

#app .login .toView {
  width: 100%;
  padding: 0 50px;
}

#app .login .toView .telLoginBtn,
#app .login .toView .registryBtn {
  width: 100%;
  height: 44px;
  border: 1px solid #D44037;
  border-radius: 22px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 44px;
  color: #D44037;
  font-size: 18px;
}

#app .login .toView .visitorLogin {
  color: #BCBBBC;
  font-size: 14px;
  text-align: center;
}

#app .login .toView .visitorLogin span {
  display: inline-block;
  border-bottom: 1px solid #BCBBBC;
}

#app .loginPage,
#app .registryPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#app .loginPage .header,
#app .registryPage .header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: relative;
  color: #fff;
  font-size: 16px;
  background: #333;
}

#app .loginPage .header .back,
#app .registryPage .header .back {
  position: absolute;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  font-family: "楷体";
  color: #fff;
  left: 0;
  top: 0;
}

#app .loginPage .inputRegCont,
#app .registryPage .inputRegCont {
  width: 100%;
  padding: 0 15px;
}

#app .loginPage .inputRegCont > div,
#app .registryPage .inputRegCont > div {
  width: 100%;
  height: 46px;
  line-height: 46px;
  display: flex;
  border-bottom: 1px solid #ccc;
}

#app .loginPage .inputRegCont > div .icon,
#app .registryPage .inputRegCont > div .icon {
  width: 46px;
  height: 46px;
}

#app .loginPage .inputRegCont > div .icon.icon-tel,
#app .registryPage .inputRegCont > div .icon.icon-tel {
  background: url("../images/iphone.png") no-repeat 50% 50%;
}

#app .loginPage .inputRegCont > div .icon.icon-suo,
#app .registryPage .inputRegCont > div .icon.icon-suo {
  background: url("../images/suo.png") no-repeat 50% 50%;
}

#app .loginPage .inputRegCont > div input,
#app .registryPage .inputRegCont > div input {
  flex: 1;
  height: 100%;
  border: 0;
  outline: none;
}

#app .loginPage .inputRegCont > div input::-webkit-input-placeholder,
#app .registryPage .inputRegCont > div input::-webkit-input-placeholder {
  color: #999;
  font-size: 14px;
}

#app .loginPage .inputRegCont .submitBtn,
#app .registryPage .inputRegCont .submitBtn {
  width: 100%;
  height: 46px;
  margin: 10px 0;
}

#app .loginPage .inputRegCont .submitBtn button,
#app .registryPage .inputRegCont .submitBtn button {
  outline: none;
  border: 0;
  width: 100%;
  height: 100%;
  background: #333;
  color: #555;
  border-radius: 23px;
}

#app .loginPage .inputRegCont .registryPwd,
#app .registryPage .inputRegCont .registryPwd {
  color: #BCBBBC;
  font-size: 14px;
  text-align: center;
}

#app .loginPage .inputRegCont .registryPwd span,
#app .registryPage .inputRegCont .registryPwd span {
  display: inline-block;
  border-bottom: 1px solid #BCBBBC;
}

#app .indexPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#app .indexPage .header {
  width: 100%;
  height: 50px;
  background: #000;
  color: #fff;
  text-align: center;
  line-height: 50px;
}

#app .indexPage .footer {
  width: 100%;
  height: 50px;
  background: #E8F0F3;
  display: flex;
}

#app .indexPage .footer a {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #777;
}

#app .indexPage .footer a.router-link-active {
  color: #333;
}

#app .indexPage .main {
  flex: 1;
  width: 100%;
  overflow: auto;
}

#app .indexPage .main .found {
  width: 100%;
  height: 100%;
  position: relative;
}

#app .indexPage .main .found .tab {
  width: 100%;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
}

#app .indexPage .main .found .tab a {
  color: #999;
  padding: 0 20px;
  position: relative;
  height: 100%;
  line-height: 36px;
}

#app .indexPage .main .found .tab a.router-link-active {
  color: #fff;
}

#app .indexPage .main .found .tab a.router-link-active::after {
  content: '';
  width: 32px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-radius: 1px;
  transform: translateX(-50%);
}

#app .indexPage .main .found .foundSwiper {
  width: 100%;
  height: 170px;
  background: #333;
  position: relative;
}

#app .indexPage .main .found .foundSwiper .banner {
  position: absolute;
  width: 100%;
  padding: 0 10px;
  left: 0;
  top: 46px;
  box-sizing: border-box;
}

#app .indexPage .main .found .foundSwiper .banner img {
  border-radius: 5px;
}

#app .indexPage .main .found .nav {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 20px;
  display: flex;
  border-bottom: 1px solid #ccc;
}

#app .indexPage .main .found .nav a {
  flex: 1;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
}

#app .indexPage .main .found .nav a .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #333;
  font-size: 24px;
  color: #999;
  text-align: center;
  line-height: 50px;
}

#app .indexPage .main .found .nav a span {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

#app .indexPage .main .found .recommendPage {
  width: 100%;
  height: 100%;
}

#app .indexPage .main .found .recommendPage .recommendCont {
  width: 100%;
}

#app .indexPage .main .found .recommendPage .recommendCont .recommendTitle {
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  font-size: 20px;
}

#app .indexPage .main .found .recommendPage .recommendCont .recommendTitle span {
  font-family: "楷体";
  margin-left: 10px;
  font-weight: 800;
}

#app .indexPage .main .found .recommendPage .recommendCont .recommendList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#app .indexPage .main .found .recommendPage .recommendCont .recommendList li {
  width: 33.33%;
  padding: 5px;
}

#app .indexPage .main .found .recommendPage .recommendCont .recommendList li dl {
  width: 100%;
}

#app .indexPage .main .found .recommendPage .recommendCont .recommendList li dl dt img {
  width: 100%;
  border-radius: 5px;
}

#app .indexPage .main .found .recommendPage .recommendCont .recommendList li dl dd {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-all;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

#app .indexPage .main .found .stationPage {
  width: 100%;
  height: 100%;
}

#app .indexPage .main .found .stationPage .stationTitle {
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#app .indexPage .main .found .stationPage .stationTitle span {
  font-size: 14px;
  color: #999;
}

#app .indexPage .main .found .stationPage .stationList {
  width: 100%;
}

#app .indexPage .main .found .stationPage .stationList li {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

#app .indexPage .main .found .stationPage .stationList li dl {
  width: 100%;
  display: flex;
}

#app .indexPage .main .found .stationPage .stationList li dl dt img {
  width: 114px;
  display: block;
  border-radius: 5px;
}

#app .indexPage .main .found .stationPage .stationList li dl dd {
  flex: 1;
  padding: 0 15px;
}

#app .indexPage .main .account {
  width: 100%;
  height: 100%;
}

#app .indexPage .main .account .myLogin {
  width: 100%;
}

#app .indexPage .main .account .myLogin .titleMsg {
  width: 100%;
  height: 140px;
  padding: 15px 10px;
}

#app .indexPage .main .account .myLogin .titleMsg p {
  text-align: center;
  font-size: 16px;
  color: #555;
}

#app .indexPage .main .account .myLogin .titleMsg button {
  width: 100%;
  height: 44px;
  border-radius: 22px;
  background: none;
  border: 1px solid #999;
  color: #555;
  outline: none;
  margin: 10px 0;
  font-size: 16px;
}

#app .indexPage .main .account .accountMsg {
  width: 100%;
}

#app .indexPage .main .account .accountMsg .myNews {
  width: 100%;
  border-top: 10px solid #eee;
  border-bottom: 10px solid #eee;
}

#app .indexPage .main .account .accountMsg .accountShop,
#app .indexPage .main .account .accountMsg .accountSet,
#app .indexPage .main .account .accountMsg .accountShare {
  width: 100%;
  border-bottom: 10px solid #eee;
}

#app .vipPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#app .vipPage .vipHeader {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-bottom: 1px solid #eee;
}

#app .vipPage .vipHeader .back {
  widows: 50px;
  height: 50px;
  line-height: 50px;
}

#app .vipPage .vipCont {
  width: 100%;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

#app .vipPage .vipCont .vipCardList {
  display: flex;
  overflow-x: auto;
}

#app .vipPage .vipCont .vipCardList .vipCardTab {
  width: 340px;
  height: 220px;
  flex-shrink: 0;
  padding: 0 16px;
}

#app .vipPage .vipCont .vipCardList .vipCardTab .cardCont {
  width: 100%;
  height: 100%;
  padding: 14px 0;
}

#app .vipPage .vipCont .vipCardList .vipCardTab .cardCont .cardMain {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: url(https://p1.music.126.net/-BmD9VrnJ3AYGL-AUlFhDw==/109951163524411405.jpg?imageView=&interlace=1&quality=100&thumbnail=670x0) no-repeat -36px;
  background-size: cover;
  display: flex;
  padding: 30px 20px;
  flex-direction: column;
}

#app .vipPage .vipCont .vipCardList .vipCardTab .cardCont .cardMain .primeTitle img {
  width: 67px;
}

#app .vipPage .vipCont .vipCardList .vipCardTab .cardCont .cardMain .primeDesc {
  font-size: 12px;
  line-height: 2;
  color: #e5cac5;
}

#app .vipPage .vipCont .vipCardList .vipCardTab .cardCont .cardMain .actionBtns {
  flex: 1;
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
}

#app .vipPage .vipCont .vipCardList .vipCardTab .cardCont .cardMain .actionBtns button {
  height: 36px;
  padding: 0 20px;
  border-radius: 18px;
  background: #e5cac5;
  outline: none;
  font-weight: 800;
  line-height: 36px;
  border: 0;
}

#app .vipPage .vipCont .vipCardList .vipCardTab.red .cardCont .cardMain {
  background: url(https://p1.music.126.net/aWQGEt66RVRrPT6rU5O3JQ==/109951163524419514.jpg?imageView=&interlace=1&quality=100&thumbnail=670x0) no-repeat -36px;
  background-size: cover;
}
